.img-illustration {
  width: 100%;
  height: auto;
}

h1 {
  font-family: $header-font;
}

p {
  font-family: $base-font;
}

hr {
  width: 75%;
  color: $gray-dark;
  border-top: 2px solid #eeeeee;
}
