.img-illustration {
  width: 100%;
  height: auto;
}

h1 {
  font-family: $header-font;
}

p {
  font-family: $base-font;
}

hr {
  width: 75%;
  color: $gray-dark;
  border-top: 2px solid #eeeeee;
}

.about-me {
  margin-top: 32px;
  padding-top: 32px;
}

.carousel-control.left {
  background-image: none;

}

.carousel-control.right {
  background-image: none;
}

h3 {
  font-family: $base-font;
  font-size: 24px;
  color: $yellow;
}

h5 {
  font-family: $title-font;
}

p {
  font-size: 14px;
  font-family: $base-font;
}

.extra-padding {
  padding-bottom: 48px;
}

.footer {
  text-align: center;
  background-color: $background;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 48px;
}

.view-site-btn {
  border: solid 2px $accent;
  padding: 8px;
  border-radius: 16px;
  padding-left: 20px;
  padding-right: 20px;
  color: $gray-light;
  text-decoration: none;
  font-family: $base-font;
}

.view-site-btn:hover {
  border: solid 2px $yellow;
  color: $yellow;
}

.icons {
  margin-bottom: 16px;
}

.footer a {
  text-decoration: none;
  color: black;
  font-family: $base-font;
  font-size: 16px;
}

.footer a:hover {
  text-decoration: none;
  color: $yellow;
}

.icon-mail {
  margin-right: 8px;
  height: 16px;
  width: 20px;
}

.icon-linkedin {
  margin-right: 4px;
}

.icon-github {
}

