<div>
  <img src="/images/illustration.png" class="img-illustration" alt="header image">
</div>

<div class="container">
  <h1 class="about-me">About Me</h1>
  <p>I'm Yuka, a full-stack web developer currently living in Tokyo, Japan. I was born and raised in San Francisco, California but now have been in Japan for 5 years. I attended International Christian University in Tokyo and graduated as a sociology major in June 2019. Since then, I have started my journey into programming by taking online courses and learning the basics. In January 2020, I enrolled in Le Wagon, a 9-week full-time coding program where I learned everything from database to the user interface to be able to code my own web applications from scratch and become a full-stack web developer. My interests include film photography, playing with my dog, and visiting flower fields all across Japan.</p>
</div>

<hr>
<div class="container">
  <h1>Projects</h1>
</div>
<!-- CLEVERCLOSET -->
<div class="container clever-closet project-container">
  <div class="row">
    <div class="col-xs-12 col-lg-5">
      <h3>CleverCloset</h3>
      <h5>Team Project - Lead Developer</h5>
      <p>CleverCloset is a web application that helps reduce your impact on the environment by bringing awareness to the clothes that you already own, donating your unused clothes, and lending and borrowing clothes with your friends. You can also have fun making looks for yourself and for your friends. My team and I completed this project in two weeks.</p>
      <!-- icons -->
      <div class="icons">
        <img src="/images/ruby.svg" alt="ruby icon" class="ruby">
        <img src="/images/css.svg" alt="css icon" class="css">
        <img src="/images/html.svg" alt="html icon" class="html">
        <img src="/images/javascript.svg" alt="javascript icon" class="javascript">
        <img src="/images/github.svg" alt="github icon" class="github">
      </div>
      <!-- view site button -->
      <!-- <a href="https://www.clever-closet.me" class="btn view-site-btn" target="_blank">View Site</a> -->
      <a href="https://www.figma.com/file/MR7PExHoXio1csNDzIR1Ud/Clever-Closet?node-id=24%3A1957" class="btn view-site-btn" target="_blank">View Prototype</a>
    </div>
    <div class="col-xs-12 col-lg-7">
      <div id="carousel-1" class="carousel slide carousel-container" data-interval="false">
          <div class="carousel-inner cc">
            <div class="carousel-item active item carousel-image">
              <img src="/images/cc-1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item item carousel-image">
              <img src="/images/cc-2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item item carousel-image">
              <img src="/images/cc-3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item item carousel-image">
              <img src="/images/cc-4.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item item carousel-image">
              <img src="/images/cc-5.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item item carousel-image">
              <img src="/images/cc-6.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item item carousel-image">
              <img src="/images/cc-7.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item item carousel-image">
              <img src="/images/cc-8.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item item carousel-image">
              <img src="/images/cc-9.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
            <span aria-hidden="true"><svg class="arrow-prev-cc" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="9.5" transform="rotate(-180 10 10)" fill="white" stroke="#A9AEB8" />
                <path d="M4.14645 9.64645C3.95118 9.84171 3.95118 10.1583 4.14645 10.3536L7.32843 13.5355C7.52369 13.7308 7.84027 13.7308 8.03553 13.5355C8.2308 13.3403 8.2308 13.0237 8.03553 12.8284L5.20711 10L8.03553 7.17157C8.2308 6.97631 8.2308 6.65973 8.03553 6.46447C7.84027 6.2692 7.52369 6.2692 7.32843 6.46447L4.14645 9.64645ZM16 9.5L4.5 9.5L4.5 10.5L16 10.5L16 9.5Z" fill="#A9AEB8" />
              </svg>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
            <span aria-hidden="true"> <svg class="arrow-next-cc" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="9.5" fill="white" stroke="#A9AEB8" />
                <path d="M15.8536 10.3536C16.0488 10.1583 16.0488 9.84171 15.8536 9.64645L12.6716 6.46447C12.4763 6.2692 12.1597 6.2692 11.9645 6.46447C11.7692 6.65973 11.7692 6.97631 11.9645 7.17157L14.7929 10L11.9645 12.8284C11.7692 13.0237 11.7692 13.3403 11.9645 13.5355C12.1597 13.7308 12.4763 13.7308 12.6716 13.5355L15.8536 10.3536ZM4 10.5H15.5V9.5H4V10.5Z" fill="#A9AEB8" />
              </svg></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  </div>
  <hr>

  <!-- OBI -->
  <div class="container obi project-container">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div id="carousel-2" class="carousel slide carousel-container" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active item carousel-image">
              <img src="/images/obi-1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item item carousel-image">
              <img src="/images/obi-2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item item carousel-image">
              <img src="/images/obi-3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item item carousel-image">
              <img src="/images/obi-4.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item item carousel-image">
              <img src="/images/obi-5.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
            <span aria-hidden="true"><svg class="arrow-prev" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="9.5" transform="rotate(-180 10 10)" fill="white" stroke="#A9AEB8" />
                <path d="M4.14645 9.64645C3.95118 9.84171 3.95118 10.1583 4.14645 10.3536L7.32843 13.5355C7.52369 13.7308 7.84027 13.7308 8.03553 13.5355C8.2308 13.3403 8.2308 13.0237 8.03553 12.8284L5.20711 10L8.03553 7.17157C8.2308 6.97631 8.2308 6.65973 8.03553 6.46447C7.84027 6.2692 7.52369 6.2692 7.32843 6.46447L4.14645 9.64645ZM16 9.5L4.5 9.5L4.5 10.5L16 10.5L16 9.5Z" fill="#A9AEB8" />
              </svg>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
            <span aria-hidden="true"> <svg class="arrow-next" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="10" cy="10" r="9.5" fill="white" stroke="#A9AEB8" />
                <path d="M15.8536 10.3536C16.0488 10.1583 16.0488 9.84171 15.8536 9.64645L12.6716 6.46447C12.4763 6.2692 12.1597 6.2692 11.9645 6.46447C11.7692 6.65973 11.7692 6.97631 11.9645 7.17157L14.7929 10L11.9645 12.8284C11.7692 13.0237 11.7692 13.3403 11.9645 13.5355C12.1597 13.7308 12.4763 13.7308 12.6716 13.5355L15.8536 10.3536ZM4 10.5H15.5V9.5H4V10.5Z" fill="#A9AEB8" />
              </svg></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div class="col-xs-0 col-lg-1">
      </div>

      <div class="col-xs-12 col-lg-5">
        <h3>Obi</h3>
        <h5>Team Project - Lead Developer</h5>
        <p>Obi is an online marketplace for users to search, lend, and rent traditional Japanese garments (kimonos, yukatas, hakamas, etc.) while in Japan. My team and I completed this project in one week.</p>
        <!-- icons -->
        <div class="icons">
          <img src="/images/ruby.svg" alt="ruby icon" class="ruby">
          <img src="/images/css.svg" alt="css icon" class="css">
          <img src="/images/html.svg" alt="html icon" class="html">
          <img src="/images/javascript.svg" alt="javascript icon" class="javascript">
          <img src="/images/github.svg" alt="github icon" class="github">
        </div>

        <a href="https://obi363.herokuapp.com/" class="btn view-site-btn" target="_blank">View Site</a>

     </div>
    </div>
  </div>
  <hr>

  <!-- COCKTAIL -->
  <div class="container cocktail project-container">
    <div class="row">
      <div class="col-xs-12 col-lg-5">
        <h3>Cocktails</h3>
        <h5>Individual Project</h5>
        <p>Cocktails is a recipe organizer for your favorite cocktails. Users can upload a new cocktail and change the ingredients and doses of the cocktail as they create new concoctions. Users can also delete cocktail recipes as they please. I completed this project in 2 days.</p>
        <!-- icons -->
        <div class="icons">
          <img src="/images/ruby.svg" alt="ruby icon" class="ruby">
          <img src="/images/css.svg" alt="css icon" class="css">
          <img src="/images/html.svg" alt="html icon" class="html">
          <img src="/images/javascript.svg" alt="javascript icon" class="javascript">
          <img src="/images/github.svg" alt="github icon" class="github">
        </div>

        <a href="https://yuka-mister-cocktail.herokuapp.com/" class="btn view-site-btn" target="_blank">View Site</a>
      </div>
      <div class="col-xs-0 col-lg-1">
      </div>
      <!-- carousel -->
      <div class="col-xs-12 col-lg-6">

      <div id="carousel-3" class="carousel slide carousel-container" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active item carousel-image">
                <img src="/images/cocktail-1.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item item carousel-image">
                <img src="/images/cocktail-2.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item item carousel-image">
                <img src="/images/cocktail-3.png" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-3" role="button" data-slide="prev">
              <span aria-hidden="true"><svg class="arrow-prev" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="10" cy="10" r="9.5" transform="rotate(-180 10 10)" fill="white" stroke="#A9AEB8" />
                  <path d="M4.14645 9.64645C3.95118 9.84171 3.95118 10.1583 4.14645 10.3536L7.32843 13.5355C7.52369 13.7308 7.84027 13.7308 8.03553 13.5355C8.2308 13.3403 8.2308 13.0237 8.03553 12.8284L5.20711 10L8.03553 7.17157C8.2308 6.97631 8.2308 6.65973 8.03553 6.46447C7.84027 6.2692 7.52369 6.2692 7.32843 6.46447L4.14645 9.64645ZM16 9.5L4.5 9.5L4.5 10.5L16 10.5L16 9.5Z" fill="#A9AEB8" />
                </svg>
              </span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-3" role="button" data-slide="next">
              <span aria-hidden="true"> <svg class="arrow-next" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="10" cy="10" r="9.5" fill="white" stroke="#A9AEB8" />
                  <path d="M15.8536 10.3536C16.0488 10.1583 16.0488 9.84171 15.8536 9.64645L12.6716 6.46447C12.4763 6.2692 12.1597 6.2692 11.9645 6.46447C11.7692 6.65973 11.7692 6.97631 11.9645 7.17157L14.7929 10L11.9645 12.8284C11.7692 13.0237 11.7692 13.3403 11.9645 13.5355C12.1597 13.7308 12.4763 13.7308 12.6716 13.5355L15.8536 10.3536ZM4 10.5H15.5V9.5H4V10.5Z" fill="#A9AEB8" />
                </svg></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
    </div>
  </div>

</div>
<div class="extra-padding">
</div>
</div>

<div class="footer">
<h1>Contact Me</h1>
<a href="mailto:yukaitozu@gmail.com" target="_blank"><img src="/images/mail.svg" alt="mail icon" class="icon-mail"></a>


<a href="https://www.linkedin.com/in/yukaitozu/" target="_blank"><img src="/images/linkedin.svg" alt="linkedin icon" class="icon-linkedin"></a>

<a href="https://www.github.com/yukaitozu" target="_blank"><img src="/images/github2.svg" alt="github icon" class="icon-github"></a>
</div>


