<div class="text-header-container">
  <h1>Yuka Itozu</h1>
  <p class="p-bold-text">Full-Stack Web Developer</p>
</div>
<div class="body-container">
  <h2>About Me</h2>
  <div class="about-me-container">
    <div id="avatar">
      <img src="/images/yuka-itozu-avatar.png" class="profile-img" alt="">
    </div>
    <div class="about-me">
      <p>I'm Yuka, a recent university and Le Wagon graduate.</p>
      <p>I started my journey into programming by taking online courses. After graduating university, I decided to enroll in a Le Wagon's full-time coding program in Tokyo, Japan.</p>
      <p>Outside of improving my development skills, I enjoy photography, playing with my dog, and searching for cafes in Tokyo. </p>
    </div>
  </div>
</div>
<div class="body-container">
  <h2>Projects</h2>
    <div class="project-container">
      <div class="project-image as-img">
        <div id="carousel-four" class="carousel slide carousel-container" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active item carousel-image">
              <!-- insert image url -->
              <img src="" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="project-information as-info">
        <h5>CleverCloset</h5>
        <h6>Lead Developer</h6>
        <p>CleverCloset is a web app that helps reduce your impact on the environment by brining awareness to the clothes that you already own and encouraging you to donate your unused clothes and lend and borrow clothes among your friends. My team and I completed the MVP in two weeks.</p>
      </div>
    </div>
</div>
