<div>
  <img src="/images/illustration.png" class="img-illustration" alt="header image">
</div>
<div class="container">
  <div class="about-me">
    <h1>About Me</h1>
    <p>I'm Yuka, a full-stack web developer living in Tokyo, Japan.</p>
    <p>I started my journey into programming by taking online courses and learning the basics. I then enrolled in Le Wagon, a full-time coding program.</p>
    <p>My interests include film photography, playing with my dog, and visiting flower fields all across Japan.</p>
  </div>
</div>
<div>
  <hr>
</div>

