<div class="text-header-container">
  <h1>Yuka Itozu</h1>
  <p class="p-bold-text">Full-Stack Web Developer</p>
</div>
<div class="body-container">
  <h2>About Me</h2>
  <div class="about-me-container">
    <div id="avatar">
      <img src="/images/yuka-itozu-avatar.png" class="profile-img" alt="">
    </div>
    <div class="about-me">
      <p>I'm Yuka, a recent university and Le Wagon graduate.</p>
    </div>
  </div>
</div>
