<div class="text-header-container">
  <h1>Yuka Itozu</h1>
  <p class="p-bold-text">Full-Stack Web Developer</p>
</div>
<div class="body-container">
  <h2>About Me</h2>
  <div class="about-me-container">
    <div id="avatar">
      <img src="/images/yuka-itozu-avatar.png" class="profile-img" alt="">
    </div>
    <div class="about-me">
      <p>I'm Yuka, a recent university and Le Wagon graduate.</p>
      <p>I started my journey into programming by taking online courses. After graduating university, I decided to enroll in a Le Wagon's full-time coding program in Tokyo, Japan.</p>
      <p>Outside of improving my development skills, I enjoy photography, playing with my dog, and searching for cafes in Tokyo. </p>
    </div>
  </div>
</div>
<div class="body-container">
  <h2>Projects</h2>
    <div class="project-container">
      <div class="project-image cc-img">
        <div id="carousel-four" class="carousel slide carousel-container" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active item carousel-image">
              <!-- insert image url -->
              <img src="" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="project-information as-info">
        <h5>CleverCloset</h5>
        <h6>Lead Developer</h6>
        <p>CleverCloset is a web app that helps reduce your impact on the environment by brining awareness to the clothes that you already own and encouraging you to donate your unused clothes and lend and borrow clothes among your friends. My team and I completed the MVP in two weeks.</p>
      </div>
    </div>
  </div>
    <!-- icons -->
  <a class="view-live-btn" href="https://www.clever-closet.me">
    <span>View Site</span>
    <svg class="view-arrow">

    </svg>
  </a>
</div>
<div class="divider d1"></div>

<!-- Obi -->
<div class="project-image obi-img">
  <div id="carouselExampleControls" class="carousel slide carousel-container" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active item carousel-image">
        <img src="/images/cocktail-1.png" alt="">
      </div>
      <div class="carousel-item item carousel-image">
        <img src="/images/cocktail-2.png" alt="">
      </div>
      <div class="carousel-item item carousel-image">
        <img src="/images/cocktail-3.png" alt="">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span aria-hidden="true"><svg class="arrow-prev" width="20" height="20" viewBox="0 0 20 20" fill="none">
      <circle cx="10" cy="10" r="9.5" fill="white" stroke="#A9AEB8" />
      </svg>
    </span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span aria-hidden="true"> <svg class="arrow-next" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="10" cy="10" r="9.5" fill="white" stroke="#A9AEB8" />
    </svg></span>
  <span class="sr-only">Next</span>
  </a>
</div>
</div>

<!-- Cocktail -->
<div class="project-image ct-img">
  <div id="carouselExampleControls" class="carousel slide carousel-container" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active item carousel-image">
        <img src="/images/cocktail-1.png" alt="">
      </div>
      <div class="carousel-item item carousel-image">
        <img src="/images/cocktail-2.png" alt="">
      </div>
      <div class="carousel-item item carousel-image">
        <img src="/images/cocktail-3.png" alt="">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span aria-hidden="true"><svg class="arrow-prev" width="20" height="20" viewBox="0 0 20 20" fill="none">
      <circle cx="10" cy="10" r="9.5" fill="white" stroke="#A9AEB8" />
      </svg>
    </span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span aria-hidden="true"> <svg class="arrow-next" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="10" cy="10" r="9.5" fill="white" stroke="#A9AEB8" />
    </svg></span>
  <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div class="project-information cl-info">
  <h5>Cocktail</h5>
  <h6>Position</h6>
  <p>Cocktail is a web app designed to organize your favorite cocktail recipes. Add a new cocktail recipe, update an old recipe, or delete a recipe to personally curate your own cocktail recipe book. I completed the MVP in two days</p>
</div>
<div class="technology-container">
  <svg class="technology-icons" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
  <!-- insert icons -->
  </svg>

</div>
<a class="view-live-btn" href="https://yuka-mister-cocktail.herokuapp.com/cocktails">
  <span>View Site</span>
  <svg class="view-arrow" width="13px" height="10px" viewBox="0 0 13 10">

  </svg>
</a>
</div>
<div class="divider d3"></div>



